<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Request Header Microservice</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
</head>
<body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item">Request Header Microservice</div>
      </div>
    </div>

    <div class="ui container center aligned" style="margin-top: 5em;">
      <h2>Request Header Microservice Project</h2>
      <p><a href="/api/whoami">Click here</a> to discover yourself.</p>
    </div>
    
</body>
</html>