<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>URL Shortener Microservice</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
</head>
<body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item">URL Shortener Microservice</div>
      </div>
    </div>

    <div class="ui container segment" style="margin-top: 5em; width: 35%">
      <form class="ui form" action="/" method="POST">
        <div class="required field">
          <label>URL</label>
          <input type="text" name="URL" placeholder="Enter a valid URL here">
        </div>
        <button class="ui button" type="submit">Submit</button>
      </form>
    </div>
    
</body>
</html>