<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Timestamp Microservice</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
</head>
<body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item"><i class="wait icon"></i>Timestamp Microservice</div>
      </div>
    </div>

    <div class="ui container segment" style="margin-top: 5em; width: 35%">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Format</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Human</td>
            <td><%= convertedTime.human %></td>
          </tr>
          <tr>
            <td>Unix</td>
            <td><%= convertedTime.unix %></td>
          </tr>
        </tbody>
      </table>
      <a href="/" class="ui button">New Timestamp</a>
    </div>
    
</body>
</html>